.pizza-card{
    display: flex;
    justify-content: space-around;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 10px;
}

.pizza-image{
    width: 150px;
    height: auto;
    border-radius: 50%;
    
}

.pizza-detalhes{
    max-height: 60%;
}