.titulo-cardapio{
	margin-top: 20px;
	font-size: 28px;
	text-align: center;
}


.pizzasSalgadas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pizzasDoces{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pizza-card{
    display: flex;
    justify-content: space-between;
    width: 290px;
    height: auto;
    border-radius: 10px;
    background-color: #f7fbf4;
    padding: 10px;
    margin: 20px 10px 15px 10px;
}

.pizza-image{
    width: 150px;
    height: auto;
    border-radius: 50%;
    
}

.pizza-detalhes{
    text-align: center;
}

.pizza-preco-conteiner{
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
}

.pizza-preco{
    margin: 10px 5px 10px 5px;
}

.pizza-nome > h2{
    font-size: 20px;
    max-width: 90vw;
}