
body{
    background-color:#ffba;
}

/* .conteudoPrincipalForm, h2{
    margin-top: 20px;

} */

.container-form{
    width: 70%;
    margin: 10px auto;
    padding: 10px;
}


.formulario{ 
	display: flex;
	flex-direction: column;
    width: 70%;
    height: 26vw;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    
}

label, input, textarea, button{
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
} 

textarea{
    height: 400rem;

}


/* RESPONSIVIDADE ---------------------------------------------------------------------- */

@media (max-width:1200px){
    .conteudoPrincipalForm, h2{
        margin-top: 20px;
    }
    
    .container-form{
        width: 70%;
        margin: 10px auto;
    }
    
    
    .formulario{ 
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 10px auto;
        padding: 5px;
        border-radius: 10px;
        
    }
    
    label, input, textarea, button{
        margin: 5px;
        padding: 5px;
        border-radius: 10px;
    }
    
}
