*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-wrapper{
    background-image: url(../assets/img-bkg.jpeg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100vw;

}


.menu{
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
   

.menu li a{
    background-color: rgb(208, 129, 12);
    color:rgb(21, 20, 20);
    display:block;
    text-decoration: none;
    margin-left: 10px;
    padding: 15px 20px 10px 20px;
    border-radius: 10px;

}

.menu li a:hover{
    color:rgb(242, 232, 232);
    display:block;
    text-decoration: none;
    margin-left: 10px;
    background-color: rgb(20, 143, 204);

}



/* Main */

main{
    flex:20 1 500px;
    height: calc(100vh - 224px);
   
   
}


